<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        id          = "de.selignow.pgtest"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>pgtest</name>

    <description>
        An example for phonegap build docs. 
    </description>

    <author href="http://selignow.de" email="andreas@selignow.de">
        Andreas-M. Selignow 
    </author>

<gap:platform name="ios" />
<gap:platform name="android" />

<preference name="orientation" value="default" />
<preference name="fullscreen" value="true" />

<icon src="icon.png" />

</widget>

